


#map-settings {
    grid-area: right;
    border-left: 1px solid black;
    height: 100%;
    padding: 0px;
    overflow-y: auto
}

#map {
    grid-area: main;
    overflow-y: auto
}


.map-grid-container {
    display: grid;
    grid-template-areas:
      'main right';
    grid-template-columns: calc(100vw - 200px)  200px;
    height: calc(100vh - 2em - 20px - 1px); /*viewport height - height of navbar-button - padding - borderline*/
    grid-gap: 0px;
    padding: 0px;
}
